@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

body{
  font-family: 'Roboto Slab', sans-serif;
}

h1, a {
    text-decoration: none;
    text-align: center;
}

.col3 {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 20px;
}

.col2 {
    float: left;
    width: 50%;
    text-align: center;
    height: 20px;
}

.col1 {
    float: left;
    width: 99%;
    text-align: center;
    height: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 5px;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 10px;
}

.button_container {
  position: relative;
  text-align:center;
}

.button_link {
  height: 43px;
  width: 100px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

.button_link:hover {
  background: #e7e7e7;
}

.scroll_box { overflow-x: scroll; }

section {
  width:600px;
}

.wrapper {
  width:960px;
}

.small_header {
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  margin: 0 0 20px 0;

}

.small_header_box {
  height:60px;
  flex:1;
  min-width:270px;
  margin: 0 0 10px 0;
}

.post_tag {
  display: inline-block;
  background: #dbefdc;
  padding: 0.3rem 0.5rem;
  margin: 0.25rem;
  border-radius: 5px;
}

.post_tag:hover {
  background: #93cf95;
}

@media print, screen and (min-width: 1160px) {
  .header {
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2b422b;
    color: #dbefdc;
  }

  .link_group {
    padding-top: 30px;
  }

  .name_group {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header a {
    color: #dbefdc;
  }

  div.small_header {
    display:none;
  }

  section {
    position: relative;
    left: 350px;
    width: 800px;
  }
}

@media print, screen and (max-width: 1160px) {

  div.wrapper {
    width:auto;
    margin:0;
  }
    
  section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    display: none;
  }

  div.small_header {
    display:flex;
  }
    
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
    
}
