<!DOCTYPE html>

{% comment %}
Get assets path
{% endcomment %}
{% if site.main_github_io %}
  {% assign assets = "/assets" %}
{% else %}
  {% assign assets = "assets" %}
{% endif %}

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.img_url %}
    <meta property="og:image" content="{{ page.img_url }}"/>
    {% else %}
    <meta property="og:image" content="{{ assets }}/img/blog_og_image.png"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    {% endif %}
    {% unless site.main_github_io %}
    <base href="{{ site.url }}">
    {% endunless %}
    <link rel="stylesheet" type="text/css" href="{{ assets }}/css/{{ site.syntax_highlight_stylesheet }}">
    <link rel="stylesheet" type="text/css" href="{{ assets }}/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="atom.xml" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script>
      function show_tag_section(tag) {
        // Hide all other tag divs
        document.getElementById('all_posts').style.display = 'none';
        var tag_divs = document.getElementsByClassName('by_tag');
        var i;
        for (var i = 0; i < tag_divs.length; i++) {
          tag_divs[i].style.display = 'none';
        }
        // Show the one we want
        document.getElementById(tag).style.display = 'block';
      }
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {% seo %}
  </head>
  <body onload="show_tag_section('all_posts')">

    <div class="header">

      <!-- Large header banner on left for large display widths -->
      <div class="big_header">

        <!-- Name -->
        <div class="name_group">
          <h1><a href="">{{ site.name }}</a></h1>
        </div>

        <a href=""><img src="{{ site.logo }}" alt="Logo" class="center_img" ></a>

        <!-- Position + company -->
        <div class="link_group">

          <div class="row">
              <div class="col1">
                <span> {{ site.position }} at </span>
              </div>
          </div>

          <div class="row">
            <a href="{{ site.company_url }}">
              <div class="col1">
                <img src="{{ assets }}/img/company_icon.png" height="16" width="16">
                <span> {{ site.company_name }} </span>
              </div>
            </a>
          </div>

          <div class="row">
            <div class="col1">
              <img src="{{ assets }}/img/place_icon_light.png" height="16" width="16">
              <span> {{ site.place_name }} </span>
            </div>
          </div>

        </div>

        <!-- Badges/links -->
        <div class="link_group">

          <div class="row">
            <a href="{{ site.github_url }}">
              <div class="col2">
                <img src="{{ assets }}/img/github_icon_light.png" height="16" width="16">
                <span> Github </span>
              </div>
            </a>
            <a href="{{ site.linkedin_url }}">
              <div class="col2">
                <img src="{{ assets }}/img/linkedin_icon_light.png" height="16" width="16">
                <span> LinkedIn </span>
              </div>
            </a>
          </div>

          <div class="row">
            <a href="mailto:{{ site.email }}">
              <div class="col2">
                <img src="{{ assets }}/img/email_icon_light.png" height="16" width="16">
                <span> Email </span>
              </div>
            </a>
            <a href="{{ site.resume_url }}">
              <div class="col2">
                <img src="{{ assets }}/img/cv_icon_light.png" height="16" width="16">
                <span> Resume </span>
              </div>
            </a>
          </div>

        </div>

      </div>

      <!-- Smaller header banner on top for small display widths -->
      <div class="small_header">

        <!-- Name -->
        <div class="small_header_box">
          <div class="name_header_box">
            <div class="name_header_img">
              <a href="">
                <img src="{{ site.logo }}" alt="Logo" height="60">
              </a>
            </div>
            <div class="name_header_name">
              <h1><a href="">{{ site.name }}</a></h1>
            </div>
          </div>
        </div>

        <!-- Position + Company -->
        <div class="small_header_box">
          <div class="row">
            <div class="col1">
              <span> {{ site.position }} at </span>
            </div>
          </div>
          <div class="row">
            <div class="col1">
              <a href="{{ site.company_url }}">
                  <img src="{{ assets }}/img/company_icon.png" height="16" width="16">
                  <span> {{ site.company_name }} </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Badges/links -->
        <div class="small_header_box">
                <div class="row">
                  <a href="{{ site.github_url }}">
                    <div class="col2">
                      <img src="{{ assets }}/img/github_icon_light.png" height="16" width="16">
                      <span> Github </span>
                    </div>
                  </a>
                  <a href="{{ site.linkedin_url }}">
                    <div class="col2">
                      <img src="{{ assets }}/img/linkedin_icon_light.png" height="16" width="16">
                      <span> LinkedIn </span>
                    </div>
                  </a>
                </div>

                <div class="row">
                  <a href="mailto:{{ site.email }}">
                    <div class="col2">
                      <img src="{{ assets }}/img/email_icon_light.png" height="16" width="16">
                      <span> Email </span>
                    </div>
                  </a>
                  <a href="{{ site.resume_url }}">
                    <div class="col2">
                      <img src="{{ assets }}/img/cv_icon_light.png" height="16" width="16">
                      <span> Resume </span>
                    </div>
                  </a>
                </div>
        </div>

      </div>

    </div>

    <!-- Page content -->
    <div class="content">

      {{ content }}

    </div>

  </body>
</html>
